<div class="col-md-6 offset-md-3">
  <div class="card card-container bg-light">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card mx-auto d-block mt-3"
      style="max-width: 100px;"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">
          <i class="fas fa-user"></i> Nom utilisateur
        </label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
        Nom d'utilisateur nécessaire!
        </div>
      </div>
      <div class="form-group">
        <label for="password">
          <i class="fas fa-lock"></i> Mot de passe 
        </label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">Mot de passe nécessaire!</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit être au moins de 6 caractères
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">
          Se connecter
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
        La connexion a échoué: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success mt-3" *ngIf="isLoggedIn">
      connecté en tant que {{ username }}.
    </div>
  </div>
</div>

<!-- <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form (submit)="login(userData)">
            <div class="form-group">
              <label for="email">Email : </label>
              <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="userData.email">
            </div>
            <div class="form-group">
              <label for="password">Password : </label>
              <input type="password" name="password" class="form-control" placeholder="********" [(ngModel)]="userData.password">
              <div class="text-right forget-pass">
                <a routerLink="/forget-password">Forget Password ?</a>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-my" value="Login">
            </div>
          </form>
          <div class="text-center sign-up">
            Don`t have an account ? <a routerLink="/sign-up">Sign Up</a> hera.
          </div>
          
          
        </div>
      </div>
    </div>
  </div> -->

































