<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des médicaments</h4>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Nom 
                                  </th>
                                  <th>
                                      Nom de pharmacie
                                  </th>
                                  <th>
                                      Prix
                                  </th>
                                  <th>
                                      Temps de livraison 
                                  </th>
                                  <th>
                                      Catégorie
                                  </th>
                              </thead>
                              <tbody>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
          
      
  </div>
</div>
