<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des livreurs</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr >
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prénom
                                    </th>
                                    <th>
                                        Email
                                        
                                    </th>
                                    
                                    <th>
                                        Action 
                                    </th>
                                        
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                   
                                      <tr *ngFor="let livreur of livreurs">
                                        <td>{{ livreur.user.first_name }}</td>
                                        <td>{{ livreur.user.last_name }}</td>
                                        <td>{{ livreur.email }}</td>
                                        <td>{{ livreur.commande }}</td>
                                        <td>
                                            <button style="width: 110px; height: 30px;" type="button" class="btn btn-success" mdbRipple>Détails</button>
                                            <button style="width: 115px; height: 30px;" type="button" class="btn btn-danger" mdbRipple>Modifier</button>
                                            <button style="width: 110px; height: 30px;" type="button" class="btn btn-warning" mdbRipple>Active</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
            
        
    </div>
  </div>
  
